{
    "app": {
        "name": "Tramite",
        "copyright": "Tramite",
        "theme": "green",
        "base_path": "",
        "asset_prefix": "",
        "domain": ""
    },
    "url": {
        "API_AUTHENTICATION": "",
        "API_TRAMITE": ""
    },
    "credencials": {
        "ClientId": "",
        "ClientSecret": ""
    }
}